/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bffe;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #007bffe;
}

p {
    line-height: 1.6;
}

.highlight {
    font-size: 24px;
    color: #ff6600;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Add background images */
.background-image {
    background-image: url('../images/Wander.jpg');
}

.icon {
    background-image: url('../images/colours.jpg');
}

.banner {
    background-image: url('../images/creative.jpg');
}
